export DATABASE_URL="YOUR DB LINK"
export world_shp_file_PATH="./shapefiles/99bfd9e7-bb42-4728-87b5-07f8c8ac631c2020328-1-1vef4ev.lu5nk.shp"
JWKS_URL="http://127.0.0.1:8000/.well-known/jwks.json"

# The path to the public key from the Pancake Issuer
export AR_TRUSTED_ISSUER_PUBKEY="../pancake/services/pancake_services/grants/testkit/dev_keys/dev_issuer_public.pem"

# Path to the testkit directory (contains valid.sdjwt, revoked.sdjwt, etc.)
export TESTKIT_DIR="../pancake/services/pancake_services/grants/testkit/dev_keys"

# Used for integration testing revocation (DO NOT ENABLE FOR LIVE DEMOS)
# export TEST_STATUS_LIST_DIR="../pancake/services/pancake_services/grants/testkit/dev_keys"