export DATABASE_URL="YOUR DB LINK"
export world_shp_file_PATH="./shapefiles/99bfd9e7-bb42-4728-87b5-07f8c8ac631c2020328-1-1vef4ev.lu5nk.shp"
export JWKS_URL="http://127.0.0.1:8000/.well-known/jwks.json"
#Only need for running test_api.py test cases
export TESTKIT_DIR = "YOUR PATH FOR KEYS"